
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<section class=" position-relative ">
    @*<div class="row">
        <
        <p>1 GB Ram</p>
        <p>$5/mo</p>
        <input type="checkbox" name="anti" value="Antivirus A" />
        <input type="checkbox" name="anti" value="Antivirus B" />
    </div>*@
    

</section>
<div class="col-12 col-md-4 pricing-box-style1 text-center md-margin-30px-bottom wow fadeInUp">
    <div class="pricing-box border-all border-color-extra-light-gray">
        <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-padding-40px-all">
            <!-- start price title -->
            @*<div class="pricing-title text-center">
                    <i class="ti-user icon-large text-deep-pink d-inline-block padding-30px-all bg-white box-shadow-light rounded-circle margin-25px-bottom"></i>
                </div>*@
            <!-- end price title -->
            <!-- start price price -->
            <div class="pricing-price">
                <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">24 GB Ram</h5><br />
                <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$33/mo</h5><br />
                <button class="btn btn-very-small btn-rounded btn-black box-shadow-dark" onclick="BuyNow('2')" type="button">Place</button><br /><br />
              
            </div>

            <!-- end price price -->
        </div>
        <!-- start price features -->
        <!-- end price features -->
    </div>
</div>