
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<section class="wow fadeIn cover-background background-position-top top-space">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">

    </div>
</section>
<!-- start breadcrumb section -->
<section class="wow fadeIn padding-20px-tb border-bottom border-color-extra-light-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-left px-0">
                <div class="breadcrumb alt-font text-small mb-0">
                    <!-- breadcrumb -->
                    <ul>
                        <li><a href="#" class="text-medium-gray">Plans</a></li>
                        <li class="text-medium-gray">Cart</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end breadcrumb section -->
<section class="wow fadeIn">
    <div class="container">

        <div class="row">
            <!-- start column -->
            <div class="col-12 col-lg-8 md-margin-15px-bottom" style="height:400px;overflow-y:auto">
                <h5 class="text-extra-dark-gray alt-font font-weight-600">Shopping Cart</h5>
                <div class=" col-lg-12 mb-2">
                    <div class="row bg-light-gray border-radius-6 m-1 p-2">
                        <div class="col-sm-9 text-extra-dark-gray alt-font font-weight-600"><span id="txtPlan"></span></div>
                        <div class="col-sm-3 text-extra-dark-gray alt-font font-weight-600">₹ <span id="txtPrice"></span> /<span id="txtPriceType">month</span></div>
                        <div class="col-sm-9">
                            <a data-toggle="collapse" href="#accordion-one-link1" aria-expanded="false" class="">
                                <div class=" text-extra-dark-gray alt-font font-weight-600  position-relative padding-20px-right">
                                    <span>
                                        Details <i class="fas fa-angle-down"></i>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-3 text-extra-dark-gray alt-font font-weight-600">
                            <a class="btn btn-link btn-medium text-extra-dark-gray text-deep-pink-hover margin-5px-all lg-margin-15px-bottom d-table d-lg-inline-block md-margin-lr-auto" onclick="history.back()">
                                Back To Plans
                            </a>
                        </div>
                        <div id="accordion-one-link1" class="panel-collapse collapse p-5">

                            <div class="row panel-body">
                                <div class="col-sm-6">
                                    <input type="hidden" id="hdId" value="" />
                                    <span class="text-extra-dark-gray font-weight-400">Server : </span>
                                    <span class="text-extra-dark-gray font-weight-400" id="txtPlanType"> </span>

                                </div>
                                <div class="col-sm-6">
                                    <span class="text-extra-dark-gray font-weight-400">Server Location : </span>
                                    <span class="text-extra-dark-gray font-weight-400" id="txtServerLocation"> </span>

                                </div>
                                <div class="col-sm-6">
                                    <span class="text-extra-dark-gray font-weight-400">Ram: </span>

                                    <span class="text-extra-dark-gray font-weight-400" id="txtRam"> </span>
                                </div>
                                <div class="col-sm-6">
                                    <span class="text-extra-dark-gray font-weight-400">CPU: </span>

                                    <span class="text-extra-dark-gray font-weight-400" id="txtvCPU"> </span>
                                </div>
                                <div class="col-sm-6">
                                    <span class="text-extra-dark-gray font-weight-400">Bandwidth : </span>

                                    <span class="text-extra-dark-gray font-weight-400" id="txtBandwidth"> </span>

                                </div>
                                <div class="col-sm-6">
                                    <span class="text-extra-dark-gray font-weight-400">Dedicated IP: </span>

                                    <span class="text-extra-dark-gray font-weight-400" id="txtDedicatedIP"> </span>
                                </div>
                                <div class="col-sm-6">
                                    <span class="text-extra-dark-gray font-weight-400">NVMe DISK Space: </span>

                                    <span class="text-extra-dark-gray font-weight-400" id="txtnvm"> </span>
                                </div>
                              
                            </div>


                        </div>

                    </div>

                </div>
                <div class=" col-lg-12  ">
                    <div class="bg-light-gray border-radius-6 padding-40px-all sm-padding-30px-all last-paragraph-no-margin">
                        <h6 class="text-extra-dark-gray alt-font font-weight-600">Additional Plans</h6>
                        <div id="divAdditionalItem" class="row">

                        </div>
                    </div>
                </div>
            </div>
            <!-- end column -->
            <!-- start column -->
            <div class="col-12 col-lg-4 md-margin-15px-bottom  ">
                <div class="bg-light-gray padding-40px-all sm-padding-30px-all border-radius-6 last-paragraph-no-margin">
                    <h6 class="text-extra-dark-gray alt-font font-weight-600 ">Order Summary</h6>


                    <div class="row">
                        <div class="col-sm-8">

                            <span class="text-extra-dark-gray font-weight-400">Billed every month  </span>
                        </div>
                        <div class="col-sm-4">
                            <span class="text-extra-dark-gray sm-text-left">₹ <span id="txtBill">0</span></span>

                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-8">
                            <span class="text-extra-dark-gray font-weight-400">Adtitional Plan Amount </span>

                        </div>
                        <div class="col-sm-4">
                            <span class="text-extra-dark-gray sm-text-left">₹ <span  id="txtAddPlanPrice">0</span></span>

                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-8">

                            <span class="text-extra-dark-gray font-weight-400">Subtotal </span>
                        </div>
                        <div class="col-sm-4">
                            <span class="text-extra-dark-gray sm-text-left">₹ <span id="txtSubtotal">0</span></span>

                        </div>
                    </div>
                    <hr />
                    <div class="row mt-3">
                        <div class="col-sm-8">

                            <span class="text-extra-dark-gray font-weight-400">Grand Total </span>
                        </div>
                        <div class="col-sm-4">
                            <span class="text-extra-dark-gray sm-text-left">₹<span id="txtGrandTotal">0</span> </span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-12 text-center btn-dual justify-content-center">
                            <!-- start buttons -->
                            <a class="btn btn-medium btn-dark-gray btn-rounded lg-margin-15px-bottom d-table d-lg-inline-block md-margin-lr-auto mt-3" onclick="checkOutPage()">Checkout</a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end column -->
        </div>
    </div>
</section>
<script>
    var additionalItem = [];
    $(document).ready(function () {
        BindAdditionaltem();
        BindTanure();
        var queryString = window.location.search; // "?SC=5"

        // Use URLSearchParams to parse the query string
        var urlParams = new URLSearchParams(queryString);

        // Get the value of the 'SC' parameter
        var id = urlParams.get('id');
        BindPlanDetail(id);
        //recalculateCart();
        $("#ddlTenure").change(function () {
            $("#txtTenure").show();
            $("#txtTenure").val($(this).val());
        });
        $("#divAdditionalItem.chkAddtional").change(function () {
            alert("hello");
        })
    });
    //function AddPricing() {
    //    var html = '';
    //    var Tprice = 0;
    //    $("#divAdditionalItems").html('');
    //    var VpsPrice = $("#Vpsprice").text();
    //    if (additionalItem.length > 0) {
    //        additionalItem.forEach(function (items) {
    //            html += '<label class="text-extra-dark-gray mr-2">' + items.item + '</label><span class="text-extra-dark-gray">$' + items.price + '</span><br />';
    //            Tprice += parseFloat(items.price);
    //        });
    //        $("#divAdditionalItems").html(html)
    //    }
    //    $("#totalPrice").text('$' + (parseFloat(VpsPrice) + Tprice));
    //}
    function Checkout(id) {
        $(window.location).attr("href", "/Vpshosting/checkout?id=" + id);
    }
    function BindAdditionaltem() {
        $.post("/Vpshosting/BindAdditionaltem",
            {},
            function (data) {
                if (data.Result == "") {
                    $("#divAdditionalItem").html(data.Data);

                }
                else {
                    alert(data.Result);
                }
            });
    }
    function BindPlanDetail(Id) {
        $.post("/Admin/EditPlan",
            { Id: Id },
            function (data) {
                if (data.Result == "") {
                    var Data = JSON.parse(data.Record);
                    $.each(Data, function (index, Value) {
                        $('#hdId').val(Value.Id);
                        $('#txtPlan').text(Value.PlanName);
                        $('#txtPrice').text(parseFloat(Value.Price).toFixed(2));
                        $('#txtBill').text(parseFloat(Value.Price).toFixed(2));
                        $('#txtSubtotal').text(parseFloat(Value.Price).toFixed(2));
                        $('#txtGrandTotal').text(parseFloat(Value.Price).toFixed(2));
                        $('#txtPriceType').text(Value.PriceType);
                        $('#txtvCPU').text(Value.vCPU);
                        $('#txtDedicatedIP').text(Value.DedicatedIP);
                        $('#txtBandwidth').text(Value.Bandwidth);
                        $('#txtDedicatedIP').text(Value.DedicatedIP);
                        $('#txtSupport').text(Value.Support);
                        $('#txtServerLocation').text(Value.ServerLocation);
                        $('#txtPlanType').text(Value.PlanType);
                        $('#txtnvm').text(Value.NVMe);
                        $('#txtRam').text(Value.Ram);
                    });
                }
                else {
                    alert(data.Result);
                }
            });
    }
    function BindTanure() {
        $.post("/Admin/ShowDiscountList",
            {},
            function (data) {
                var jsonData = JSON.parse(data.Data);
                $('#ddlTenure').html("").append('<option value="0">Select Tenure</option>');
                $(jsonData).each(function () {
                    $('#ddlTenure').append('<option value=' + this.PercentageAmount + '>' + this.DiscountName + '</option>');
                });
            }).fail(function (edata) {
                alert("error while feching record.");
            });
    };
</script>
<script>
    var selectedItems = [];

    $(document).ready(function () {
        // Use event delegation for dynamically loaded content
        $(document).on("change", "#divAdditionalItem .chkAddtional", function () {
            var total = 0; // Initialize total price
            var checkbox = $(this); // Current checkbox
            var AddPlanName = checkbox.val();
            var price = parseFloat(checkbox.closest('.item').find('.AddtionalPrice').text().replace(',', ''));
            var AddId = checkbox.closest('.item').find('.chkAddtionalID').val();

            // Check if the checkbox is checked or unchecked
            if (checkbox.is(":checked")) {
                // Add the item to the array if it doesn't already exist
                if (!selectedItems.some(item => item.AddId === AddId)) {
                    selectedItems.push({
                        AddPlanName: AddPlanName,
                        price: price,
                        AddId: AddId
                    });
                }
            } else {
                // Remove the unchecked item from the array
                selectedItems = selectedItems.filter(item => item.AddId !== AddId);
            }

            // Recalculate the total price based on selected items
            selectedItems.forEach(item => {
                total += item.price;
            });

            // Update the total price span
            $("#txtAddPlanPrice").text(total.toFixed(2)); // Adjusted for formatting
            console.log(selectedItems);

            recalculateCart();
        });
    });
   
    function recalculateCart() {
        var billAmount = parseFloat($('#txtBill').text())
        var AddAmount = parseFloat($('#txtAddPlanPrice').text())
        var txtSubtotal = parseFloat(billAmount) + parseFloat(AddAmount)
        $('#txtSubtotal').text(txtSubtotal);
        $('#txtGrandTotal').text(txtSubtotal);
    }
    function checkOutPage() {
        localStorage.setItem("selectedItems", selectedItems);
        localStorage.setItem("PlanId", $('#hdId').val());
        $(window.location).attr("href", "/Vpshosting/checkout");
    }
</script>