
@{
    ViewBag.Title = "ManagedVps";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<section class="p-0 one-third-screen position-relative wow fadeIn">
    <div class="opacity-medium bg-extra-dark-gray z-index-0"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 one-third-screen d-flex flex-column justify-content-center page-title-large text-center">
                <!-- start sub title -->
                <h1 class="alt-font text-white-2 font-weight-600 width-55 md-width-80 sm-width-100 mx-auto mb-0">
                    Cloud VPS hosting
                </h1>

                <!-- end sub title -->
                <!-- start page title -->
                <span class="d-block text-white-2 opacity6 margin-10px-bottom alt-font">
                    Get flexible, instant cloud hosting that can be scaled up or down to meet your needs. Host WordPress, customize VPS configurations, and much more.
                </span>
                <!-- end page title -->
            </div>
            <div class="down-section text-center"><a href="#about" class="inner-link"><i class="ti-arrow-down icon-extra-small text-white-2 bg-deep-pink padding-15px-all sm-padding-10px-all rounded-circle"></i></a></div>
        </div>
    </div>
    <div class="swiper-auto-fade swiper-container z-index-minus2 position-absolute top-0 w-100 h-100">
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image: url('https://pofo.b-cdn.net/wp-content/uploads/2017/08/parallax-bg15.jpg'); "></div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image: url('https://pofo.b-cdn.net/wp-content/uploads/2017/08/parallax-bg16.jpg');"></div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image: url('https://pofo.b-cdn.net/wp-content/uploads/2017/08/parallax-bg15.jpg');"></div>
            <!-- end slider item -->
        </div>
        <div class="swiper-pagination swiper-auto-pagination d-none"></div>
    </div>
</section>


<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <!-- start price item -->
            <div class="col-12 col-md-4 pricing-box-style1 text-center md-margin-30px-bottom wow fadeInUp">
                <div class="pricing-box border-all border-color-extra-light-gray">
                    <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-padding-40px-all">
                        <!-- start price title -->
                        @*<div class="pricing-title text-center">
                                <i class="ti-user icon-large text-deep-pink d-inline-block padding-30px-all bg-white box-shadow-light rounded-circle margin-25px-bottom"></i>
                            </div>*@
                        <!-- end price title -->
                        <!-- start price price -->
                        <div class="pricing-price">
                            <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">1 GB Ram</h5><br />
                            <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$5/mo</h5><br />
                            <button class="btn btn-very-small btn-rounded btn-black box-shadow-dark"onclick="BuyNow('1')" type="button">Buy Now</button><br /><br />
                            <ul class="list-style-11">
                                <li>1 GB Ram</li>
                                <li>1 vCPU</li>
                                <li>30 GB SSD</li>
                                <li>1 TB bandwidth</li>
                                <li>Fast provisioning</li>
                                <li>Robust API</li>
                                <li>10 GB network</li>
                                <li>Unlimited inbound</li>
                                <li>Incremental pricing</li>
                                <li>DDoS protection</li>
                                <li>Root access</li>
                            </ul>
                        </div>

                        <!-- end price price -->
                    </div>
                    <!-- start price features -->
                    <!-- end price features -->
                </div>
            </div>
            <!-- end price item -->
            <!-- start price item -->
            <div class="col-12 col-md-4 pricing-box-style1 text-center md-margin-30px-bottom wow fadeInUp">
                <div class="pricing-box border-all border-color-extra-light-gray">
                    <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-padding-40px-all">
                        <!-- start price title -->
                        @*<div class="pricing-title text-center">
                                <i class="ti-user icon-large text-deep-pink d-inline-block padding-30px-all bg-white box-shadow-light rounded-circle margin-25px-bottom"></i>
                            </div>*@
                        <!-- end price title -->
                        <!-- start price price -->
                        <div class="pricing-price">
                            <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">24 GB Ram</h5><br />
                            <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$33/mo</h5><br />
                            <button class="btn btn-very-small btn-rounded btn-black box-shadow-dark" onclick="BuyNow('2')" type="button">Buy Now</button><br /><br />
                            <ul class="list-style-11">
                                <li>24 GB Ram</li>
                                <li>6 vCPU</li>
                                <li>540 GB SSD</li>
                                <li>8 TB bandwidth</li>
                                <li>Fast provisioning</li>
                                <li>Robust API</li>
                                <li>10 GB network</li>
                                <li>Unlimited inbound</li>
                                <li>Incremental pricing</li>
                                <li>DDoS protection</li>
                                <li>Root access</li>
                            </ul>
                        </div>

                        <!-- end price price -->
                    </div>
                    <!-- start price features -->
                    <!-- end price features -->
                </div>
            </div>
            <!-- end price item -->

        </div>
    </div>
</section>
<script>
    function BuyNow(id) {
        $(window.location).attr("href", "/Vpshosting/Cart?id=" + id);
    }
</script>