
@{
    ViewBag.Title = "ManagedVps";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<section class="p-0 one-third-screen position-relative wow fadeIn" style="height:500px;">
    <div class="opacity-medium bg-extra-dark-gray z-index-0"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 one-third-screen d-flex flex-column justify-content-center page-title-large text-center">
                <!-- start sub title -->
                <h1 class="alt-font text-white-2 font-weight-600 width-55 md-width-80 sm-width-100 mx-auto mb-0">
                    Cloud VPS hosting
                </h1>

                <!-- end sub title -->
                <!-- start page title -->
                <span class="d-block text-white-2 opacity6 margin-10px-bottom alt-font">
                    Get flexible, instant cloud hosting that can be scaled up or down to meet your needs. Host WordPress, customize VPS configurations, and much more.
                </span>
                <!-- end page title -->
            </div>
            <div class="down-section text-center"><a href="#about" class="inner-link"><i class="ti-arrow-down icon-extra-small text-white-2 bg-deep-pink padding-15px-all sm-padding-10px-all rounded-circle"></i></a></div>
        </div>
    </div>
    <div class="swiper-auto-fade swiper-container z-index-minus2 position-absolute top-0 w-100 h-100">
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image: url('https://pofo.b-cdn.net/wp-content/uploads/2017/08/parallax-bg15.jpg'); "></div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image: url('https://pofo.b-cdn.net/wp-content/uploads/2017/08/parallax-bg16.jpg');"></div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image: url('https://pofo.b-cdn.net/wp-content/uploads/2017/08/parallax-bg15.jpg');"></div>
            <!-- end slider item -->
        </div>
        <div class="swiper-pagination swiper-auto-pagination d-none"></div>
    </div>
</section>


<section class="wow fadeIn" style="display:none;">
    <div class="container">
        <div class="row">
            <!-- start price item -->
            <div class="col-12 col-md-4 pricing-box-style1 text-center md-margin-30px-bottom wow fadeInUp">
                <div class="pricing-box border-all border-color-extra-light-gray">
                    <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-padding-40px-all">
                        <!-- start price title -->
                        @*<div class="pricing-title text-center">
                                <i class="ti-user icon-large text-deep-pink d-inline-block padding-30px-all bg-white box-shadow-light rounded-circle margin-25px-bottom"></i>
                            </div>*@
                        <!-- end price title -->
                        <!-- start price price -->
                        <div class="pricing-price">
                            <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">1 GB Ram</h5><br />
                            <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$5/mo</h5><br />
                            <button class="btn btn-very-small btn-rounded btn-black box-shadow-dark" onclick="BuyNow('1')" type="button">Buy Now</button><br /><br />
                            <ul class="list-style-11">
                                <li>1 GB Ram</li>
                                <li>1 vCPU</li>
                                <li>30 GB SSD</li>
                                <li>1 TB bandwidth</li>
                                <li>Fast provisioning</li>
                                <li>Robust API</li>
                                <li>10 GB network</li>
                                <li>Unlimited inbound</li>
                                <li>Incremental pricing</li>
                                <li>DDoS protection</li>
                                <li>Root access</li>
                            </ul>
                        </div>

                        <!-- end price price -->
                    </div>
                    <!-- start price features -->
                    <!-- end price features -->
                </div>
            </div>
            <!-- end price item -->
            <!-- start price item -->
            <div class="col-12 col-md-4 pricing-box-style1 text-center md-margin-30px-bottom wow fadeInUp">
                <div class="pricing-box border-all border-color-extra-light-gray">
                    <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-padding-40px-all">
                        <!-- start price title -->
                        @*<div class="pricing-title text-center">
                                <i class="ti-user icon-large text-deep-pink d-inline-block padding-30px-all bg-white box-shadow-light rounded-circle margin-25px-bottom"></i>
                            </div>*@
                        <!-- end price title -->
                        <!-- start price price -->
                        <div class="pricing-price">
                            <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">24 GB Ram</h5><br />
                            <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$33/mo</h5><br />
                            <button class="btn btn-very-small btn-rounded btn-black box-shadow-dark" onclick="BuyNow('2')" type="button">Buy Now</button><br /><br />
                            <ul class="list-style-11">
                                <li>24 GB Ram</li>
                                <li>6 vCPU</li>
                                <li>540 GB SSD</li>
                                <li>8 TB bandwidth</li>
                                <li>Fast provisioning</li>
                                <li>Robust API</li>
                                <li>10 GB network</li>
                                <li>Unlimited inbound</li>
                                <li>Incremental pricing</li>
                                <li>DDoS protection</li>
                                <li>Root access</li>
                            </ul>
                        </div>

                        <!-- end price price -->
                    </div>
                    <!-- start price features -->
                    <!-- end price features -->
                </div>
            </div>
            <!-- end price item -->

        </div>
    </div>
</section>

<style>
    /*body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
*/
    .table-container {
        padding: 20px;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
        background-color: #fff;
    }

        table th, table td {
            border: 1px solid #ddd;
            text-align: center;
            padding: 10px;
        }
        table th, table td {
            color: black;
        }

        table th {
            background-color: #151615;
            color: white;
        }

    .price-linux {
        color: #28a745;
        font-weight: bold;
    }

    .price-windows {
        color: #dc3545;
        font-weight: bold;
    }

    .btn-signup {
        background-color: #007bff;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
    }

        .btn-signup:hover {
            background-color: #0056b3;
        }

    @@media (max-width: 768px) {
        table th, table td {
            font-size: 12px;
            padding: 8px;
        }

        .btn-signup {
            font-size: 12px;
            padding: 5px 8px;
        }
    }
</style>

<section class=" wow fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" text-center">
                <h4 class="alt-font text-extra-dark-gray font-weight-600" style="text-align: center;">India Based SSD Cloud VPS / Virtual Dedicated Server Hosting Plans</h4>
                <h6 class="alt-font text-extra-dark-gray font-weight-600" style="text-align: center;">(With Basic Management)</h6>
                <h5 class="alt-font text-extra-dark-gray font-weight-600" style="text-align: center;">VPS SERVER PRICE IN INDIA</h5>
            </div>
        </div>
       
        <table>
            <thead>
                <tr>
                    <th>Plans</th>
                    <th>No. of Core</th>
                    <th>SSD</th>
                    <th>RAM</th>
                    <th>Bandwidth/Mo</th>
                    <th>Dedicated IP's</th>
                    <th>Linux</th>
                    <th>Windows</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Basic</td>
                    <td>1 Core</td>
                    <td>30GB</td>
                    <td>2GB</td>
                    <td>200GB</td>
                    <td>1</td>
                    <td><span class="price-linux"></span> <a href="#divMail"><button class="btn btn-transparent-black btn-small text-extra-small">Sign Up</button></a></td>
                    <td><span class="price-windows"></span> <a href="#divMail"><button class="btn btn-transparent-black btn-small text-extra-small">Sign Up</button></a></td>
                </tr>
                <tr>
                    <td>Standard</td>
                    <td>2 Core</td>
                    <td>40GB</td>
                    <td>4GB</td>
                    <td>400GB</td>
                    <td>1</td>
                    <td><span class="price-linux"></span> <a href="#divMail"><button class="btn btn-transparent-black btn-small text-extra-small">Sign Up</button></a></td>
                    <td><span class="price-windows"></span> <a href="#divMail"><button class="btn btn-transparent-black btn-small text-extra-small">Sign Up</button></a></td>
                </tr>
                <tr>
                    <td>Business</td>
                    <td>2 Core</td>
                    <td>60GB</td>
                    <td>6GB</td>
                    <td>500GB</td>
                    <td>1</td>
                    <td><span class="price-linux"></span> <a href="#divMail"><button class="btn btn-transparent-black btn-small text-extra-small">Sign Up</button></a></td>
                    <td><span class="price-windows"></span> <a href="#divMail"><button class="btn btn-transparent-black btn-small text-extra-small">Sign Up</button></a></td>
                </tr>
                <tr>
                    <td>Premium</td>
                    <td>2 Core</td>
                    <td>80GB</td>
                    <td>8GB</td>
                    <td>500GB</td>
                    <td>1</td>
                    <td><span class="price-linux"></span> <a href="#divMail"><button class="btn btn-transparent-black btn-small text-extra-small">Sign Up</button></a></td>
                    <td><span class="price-windows"></span> <a href="#divMail"><button class="btn btn-transparent-black btn-small text-extra-small">Sign Up</button></a></td>
                </tr>
                <tr>
                    <td>Elite</td>
                    <td>4 Core</td>
                    <td>100GB</td>
                    <td>12GB</td>
                    <td>750GB</td>
                    <td>1</td>
                    <td><span class="price-linux"></span> <a href="#divMail"><button class="btn btn-transparent-black btn-small text-extra-small">Sign Up</button></a></td>
                    <td><span class="price-windows"></span> <a href="#divMail"><button class="btn btn-transparent-black btn-small text-extra-small">Sign Up</button></a></td>
                </tr>
                <tr>
                    <td>Professional</td>
                    <td>4 Core</td>
                    <td>120GB</td>
                    <td>18GB</td>
                    <td>1TB</td>
                    <td>1</td>
                    <td><span class="price-linux"></span> <a href="#divMail"><button class="btn btn-transparent-black btn-small text-extra-small">Sign Up</button></a></td>
                    <td><span class="price-windows"></span> <a href="#divMail"><button class="btn btn-transparent-black btn-small text-extra-small">Sign Up</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    </section>

    <style>
        /* body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }*/
        .form-container {
            display: flex;
            flex-wrap: wrap;
            background-color: #e7e7e7;
            padding: 20px;
            max-width: 1200px;
            margin: 30px auto;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .form-text {
            flex: 1;
            min-width: 300px;
            padding: 20px;
        }

            

        .form-fields {
            flex: 1;
            min-width: 300px;
            padding: 20px;
        }

            .form-fields form {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
            }

            .form-fields input, .form-fields textarea, .form-fields button {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 14px;
            }

            .form-fields input {
                flex: 1 1 calc(50% - 15px);
                box-sizing: border-box;
            }

            .form-fields textarea {
                flex: 1 1 100%;
                height: 100px;
                resize: none;
            }

            

                

        @@media (max-width: 768px) {
            .form-container {
                flex-direction: column;
            }

            .form-fields input {
                flex: 1 1 100%;
            }
        }
    </style>
    <section class=" wow fadeIn">
        <div class="container">
            <div class="form-container">
                <div class="form-text">
                    <h6 class="alt-font text-extra-dark-gray font-weight-600">Want to Migrate your Infrastructure and Application to Cloud?</h6>
                    <p class="alt-font text-extra-dark-gray font-weight-600">We're here to help.</p>
                </div>
                <div class="form-fields" id="divMail">
                    <input type="text" name="name" id="txtName" placeholder="Name" >
                    <input type="email" name="email" id="txtEmail" placeholder="Business Email*" >
                    <input type="tel" name="phone" id="txtPhoneNo" placeholder="Business Phone*" >
                    <input type="text" name="company" placeholder="Company" >
                    <textarea name="needs" placeholder="Tell us about your needs"></textarea>
                    <button type="button" class="btn btn-dark-gray btn-very-small" onclick="SendEnquieryMail()">Submit</button>

                </div>
            </div>
            </div>
</section>

            <script>
                function BuyNow(id) {
                    $(window.location).attr("href", "/Vpshosting/Cart?id=" + id);
                }
                function SendEnquieryMail() {
                    if ($('#txtEmail').val() == "") {
                        alert('Please Enter Your Email ... ');
                        $('#txtEmail').focus();
                    }
                    else if ($('#txtPhoneNo').val() == "") {
                        alert('Please Enter Your Business Phone ... ');
                        $('#txtPhoneNo').focus();
                    }

                    else {
                        alert('Your Enquiery has been send')
                    }
                }
            </script>
