
@{
    ViewBag.Title = "WindowDedicatedSelfManagedSP";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<style>
    /*body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
    */
    .table-container {
        padding: 20px;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
        background-color: #fff;
    }

        table th, table td {
            border: 1px solid #ddd;
            text-align: center;
            padding: 10px;
        }

        table th, table td {
            color: black;
        }

        table th {
            background-color: #151615;
            color: white;
        }

    .price-linux {
        color: #28a745;
        font-weight: bold;
    }

    .price-windows {
        color: #dc3545;
        font-weight: bold;
    }

    .btn-signup {
        background-color: #007bff;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
    }

        .btn-signup:hover {
            background-color: #0056b3;
        }

    @@media (max-width: 768px) {
        table th, table td {
            font-size: 12px;
            padding: 8px;
        }

        .btn-signup {
            font-size: 12px;
            padding: 5px 8px;
        }
    }
</style>
<section class="p-0 one-third-screen position-relative wow fadeIn" style="height:500px;">
    <div class="opacity-medium bg-extra-dark-gray z-index-0"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 one-third-screen d-flex flex-column justify-content-center page-title-large text-center">
                <!-- start sub title -->
                <h1 class="alt-font text-white-2 font-weight-600 width-55 md-width-80 sm-width-100 mx-auto mb-0">
                    Window Dedicated Self Managed Server Plans
                </h1>

                <!-- end sub title -->
                <!-- start page title -->
                <span class="d-block text-white-2 opacity6 margin-10px-bottom alt-font">
                    Get flexible, instant cloud hosting that can be scaled up or down to meet your needs. Host WordPress, customize VPS configurations, and much more.
                </span>
                <!-- end page title -->
            </div>
            <div class="down-section text-center"><a href="#about" class="inner-link"><i class="ti-arrow-down icon-extra-small text-white-2 bg-deep-pink padding-15px-all sm-padding-10px-all rounded-circle"></i></a></div>
        </div>
    </div>
    <div class="swiper-auto-fade swiper-container z-index-minus2 position-absolute top-0 w-100 h-100">
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image: url('../Content/images/hosting1.jpg'); "></div>
            <!-- end slider item -->

        </div>
        <div class="swiper-pagination swiper-auto-pagination d-none"></div>
    </div>
</section>
<section class=" wow fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" text-center">
                <h4 class="alt-font text-extra-dark-gray font-weight-600" style="text-align: center;">
                    India Based Window Dedicated Self Managed Server Plans
                </h4>
                <h6 class="alt-font text-extra-dark-gray font-weight-600" style="text-align: center;">(With Basic Management)</h6>
                <h5 class="alt-font text-extra-dark-gray font-weight-600" style="text-align: center;">WINDOW DEDICATED SERVER PRICE IN INDIA</h5>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Plans</th>
                    <th>Price</th>
                    <th>HDD</th>
                    <th>Memory</th>
                    <th>Bandwidth/Mo</th>
                    <th>Dedicated IP's</th>
                    <th>Buy Plan</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Basic</td>
                    <td>₹9798/month</td>
                    <td>1TB</td>
                    <td>16 GB DDR3/4 Memory</td>
                    <td>2000GB</td>
                    <td>2</td>
                    <td><span class="price-linux"></span> <button onclick="BuyNow('1')" class="btn btn-transparent-black btn-small text-extra-small">Buy Now</button></td>
                    <td>
                        <!-- Trigger to collapse content -->
                        <a data-toggle="collapse" href="#accordion-one-link1" aria-expanded="false">
                            <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                <span class="">
                                    <i class="ti-plus"></i>
                                </span>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr id="accordion-one-link1" class="panel-collapse collapse">
                    <td colspan="8">
                        <!-- Adjust colspan to span all columns in the row -->
                        <div class="panel-body">
                            <ul class="list-style-11">
                                <li>₹9798/month</li>
                                <li>
                                    Intel Xeon E3-1220L (Dual Core)
                                </li>
                                <li>
                                    1 TB Enterprise HDD
                                </li>
                                <li>
                                    16 GB DDR3/4 Memory
                                </li>
                               
                                <li>
                                    2000 GB Bandwidth
                                </li>
                                <li>
                                    Operating Systems Choice
                                </li>
                                <li>Fully Managed*</li>
                                <li>Free Bonuses</li>
                                <li>
                                    2 Dedicated IPs
                                </li>
                                <li>
                                    Free Migration
                                </li>
                                <li>
                                    Free SSL (Let's Encrypt)
                                </li>
                                <li>
                                    Security
                                </li>
                                <li>
                                    Server firewall and monitoring
                                </li>
                                <li>
                                    DDoS attack prevention
                                </li>
                                <li>
                                    Service and Support
                                </li>
                                <li>
                                    24/7 Support
                                </li>
                                <li>99.9% Uptime Guarantee</li>
                                </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Standard</td>
                    <td>₹13998/month</td>
                    <td>2TB</td>
                    <td>16 GB DDR3/4 Memory</td>
                    <td>2000GB</td>
                    <td>2</td>
                    <td><span class="price-linux"></span> <button onclick="BuyNow('1')" class="btn btn-transparent-black btn-small text-extra-small">Buy Now</button></td>
                    <td>
                        <!-- Trigger to collapse content -->
                        <a data-toggle="collapse" href="#accordion-one-link2" aria-expanded="false">
                            <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                <span>
                                    <i class="ti-plus"></i>
                                </span>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr id="accordion-one-link2" class="panel-collapse collapse">
                    <td colspan="8">
                        <!-- Adjust colspan to span all columns in the row -->
                        <div class="panel-body">
                            <ul class="list-style-11">
                                <li>₹13998/month</li>
                                <li>
                                    Intel Xeon E3-1220 (Quad Core)
                                </li>
                                <li>
                                    2 TB Enterprise HDD
                                </li>
                                <li>
                                    16 GB DDR3/4 Memory
                                </li>

                                <li>
                                    2000 GB Bandwidth
                                </li>
                                <li>
                                    Operating Systems Choice
                                </li>
                                <li>Fully Managed*</li>
                                <li>Free Bonuses</li>
                                <li>
                                    2 Dedicated IPs
                                </li>
                                <li>
                                    Free Migration
                                </li>
                                <li>
                                    Free SSL (Let's Encrypt)
                                </li>
                                <li>
                                    Security
                                </li>
                                <li>
                                    Server firewall and monitoring
                                </li>
                                <li>
                                    DDoS attack prevention
                                </li>
                                <li>
                                    Service and Support
                                </li>
                                <li>
                                    24/7 Support
                                </li>
                                <li>99.9% Uptime Guarantee</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Enterprise</td>
                    <td>₹26998/month</td>
                    <td>2TB</td>
                    <td>32 GB DDR3/4 Memory</td>
                    <td>3000GB</td>
                    <td>2</td>
                    <td><span class="price-linux"></span> <button onclick="BuyNow('1')" class="btn btn-transparent-black btn-small text-extra-small">Buy Now</button></td>
                    <td>
                        <!-- Trigger to collapse content -->
                        <a data-toggle="collapse" href="#accordion-one-link3" aria-expanded="false">
                            <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                <span>
                                    <i class="ti-plus"></i>
                                </span>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr id="accordion-one-link3" class="panel-collapse collapse">
                    <td colspan="8">
                        <!-- Adjust colspan to span all columns in the row -->
                        <div class="panel-body">
                            <ul class="list-style-11">
                                <li>₹26998/month</li>
                                <li>
                                    2 Intel Xeon E5-2620 (Hexa/Octa Core)
                                </li>
                                <li>
                                    2 TB Enterprise HDD
                                </li>
                                <li>
                                    32 GB DDR3/4 Memory
                                </li>

                                <li>
                                    3000 GB Bandwidth
                                </li>
                                <li>
                                    Operating Systems Choice
                                </li>
                                <li>Fully Managed*</li>
                                <li>Free Bonuses</li>
                                <li>
                                    2 Dedicated IPs
                                </li>
                                <li>
                                    Free Migration
                                </li>
                                <li>
                                    Free SSL (Let's Encrypt)
                                </li>
                                <li>
                                    Security
                                </li>
                                <li>
                                    Server firewall and monitoring
                                </li>
                                <li>
                                    DDoS attack prevention
                                </li>
                                <li>
                                    Service and Support
                                </li>
                                <li>
                                    24/7 Support
                                </li>
                                <li>99.9% Uptime Guarantee</li>
                            </ul>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</section>
