
@{
    ViewBag.Title = "Agreement";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url('http://placehold.it/1920x1080');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 page-title-large d-flex flex-column justify-content-center align-items-center text-center padding-30px-tb">
                <!-- start sub title -->
                <span class="d-block text-white-2 opacity6 width-45 md-width-100 alt-font margin-10px-bottom"></span>
                <!-- end sub title -->
                <!-- start page title -->
                <h1 class="alt-font text-white-2 font-weight-600 mb-0">
                    Service Level Agreement
                </h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start breadcrumb section -->
<section class="wow fadeIn padding-20px-tb border-bottom border-color-extra-light-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-left px-0">
                <div class="breadcrumb alt-font text-small mb-0">
                    <!-- breadcrumb -->
                    <ul>
                        <li><a href="#" class="text-medium-gray">Home</a></li>
                        <li class="text-medium-gray">
                            Service Level Agreement
                        </li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end breadcrumb section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">
                    What is SLA ?
                </h6>
                <p>SLA is short for Service Level Agreement. These are the contractual agreements which take place between two parties – the client and the service provider.Within these agreements we Dc9india.com and Clients have made an Online Agreements about the Server/Network Uptime to ensure our trust and Quality of services offered.We are ensured to deliver all the requirements mentioned in the SLA. This way,the client can ensure having the service they expected and signed up for.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- start accordion -->
                <div class="panel-group accordion-style1" id="accordion-two">
                    <!-- Accordion Item 1 -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link1" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    1.Our Service Level Agreement (SLA) :<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-two-link1" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> Only the Following Plans offered by Dc9india.com are covered under the SLA</p>
                                <ul>
                                    <li>Web Hosting</li>
                                    <li>VPS Hosting</li>
                                    <li>Business Hosting</li>
                                    
                                </ul>
                                </div>
                        </div>
                    </div>
                    <!-- Accordion Item 2 -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link2" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    2. WE DON’T OFFER ANY TYPE OF COMPENSATION FOR CLOUD/DEDICATED SERVERS !                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-two-link2" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Above Mentioned Shared Services the monthly Availability will be 99% Only.You could see the Server Status from UptimeRobot Public Status Link : #</p>
                                <p>
                                    We will be also Having an internal Monitoring system from our Datacenter end,So incase of any compensation request raised we will check both Logs for Confirmation. If the service/Network is down for Morethan 5 hours You will be getting the Compensation of Maximum 10 Days Date Extension for your Active Service (Which is affected) We don’t offer compensation in Type of Cash/Money ! We offer Compensation as Date Extension on the Affected Service ! The maximum Compensation will be 10 day ONLY !
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion Item 3 -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link3" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    3. Compensation Will not be Offered for Following :<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-two-link3" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        IP Blocks by our Firewall due to Abuse cases Like Failed Logins/Attacks                                    </li>
                                    <li>Account Suspension</li>
                                    <li>Abuse Cases</li>
                                    <li>
                                        Website Mis-configuration                                    </li>
                                    <li>PHP/Development Related Errors</li>
                                    <li>Browser Cache issues</li>
                                    <li>DNS Propagations & Other DNS Errors & Issues</li>
                                    <li>Your Private Name server Issues</li>
                                    <li>
                                        Overdue Payments                                </li>
                                    <li>Service termination/suspension</li>
                                    <li>PHP Related Errors (404 Error , 500 Error )</li>
                                    <li>LVE Resource Exceeding (503 Error)</li>
                                    <li>Planned Server Maintenance</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p>Compensation will be applied only if there is any issue only on Our Server End ! As there are more Uptime monitor’s available for use so we won’t accept those reports if the client sent us their Website is Down.As some monitors gives false results due to their monitor IP blocked in our Firewall due to Heavy Connections to our Server.We will be very strict on Following the compensation we will verify the down from our Monitors (Data Center too) Customers can open ticket to get their compensation Days Added to their Service Period</p>
                    <!-- Add additional accordion items for other sections as needed -->
                </div>
                <!-- end accordion -->
            </div>
        </div>
    </div>
</section>
