
@{
    ViewBag.Title = "Agreement";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url('http://placehold.it/1920x1080');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 page-title-large d-flex flex-column justify-content-center align-items-center text-center padding-30px-tb">
                <!-- start sub title -->
                <span class="d-block text-white-2 opacity6 width-45 md-width-100 alt-font margin-10px-bottom">Service Level Agreement</span>
                <!-- end sub title -->
                <!-- start page title -->
                <h1 class="alt-font text-white-2 font-weight-600 mb-0">
                    Service Level Agreement
                </h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start breadcrumb section -->
<section class="wow fadeIn padding-20px-tb border-bottom border-color-extra-light-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-left px-0">
                <div class="breadcrumb alt-font text-small mb-0">
                    <!-- breadcrumb -->
                    <ul>
                        <li><a href="#" class="text-medium-gray">Home</a></li>
                        <li class="text-medium-gray">
                            Service Level Agreement
                        </li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end breadcrumb section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom"></h6>
                <p>This Dc9india Dedicated Server Service Level Agreement (“SLA”) applies to your purchase of use of the Dc9india Dedicated Server (“Service”) under the terms and conditions of the Dc9india Dedicated Server Product Terms of Service (“Product Terms”) between the relevant Dc9india Dedicated Server entity described in the Product Terms (“Dc9india Dedicated Server”, “us”, or “we”) and you.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- start accordion -->
                <div class="panel-group accordion-style1" id="accordion-two">
                    <!-- Accordion Item 1 -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link1" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    1. Scope and Definitions:<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-two-link1" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>1.1 “Monthly Service Fee” means the total charges paid by you for the Services in one billing month...</p>
                                <p>1.2 “Monthly Uptime Percentage” means a percentage of service availability...</p>
                                <p>1.3 “Downtime” means the total number of minutes in a calendar month...</p>
                                <p>1.4 “Exclusions” refers to unavailability caused by events outside of reasonable control...</p>
                                <p>1.5 “Scheduled Downtime” means Downtime for maintenance or upgrades...</p>
                                <p>1.6 “Service Guarantee” shall have the meaning set forth in Section 2...</p>
                                <p>1.7 “Service Credit” means the percentage of the Monthly Service Fee credited for validated claims...</p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion Item 2 -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link2" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    2. Service Level Agreement:<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-two-link2" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>We shall use commercially reasonable endeavors to provide a Monthly Uptime Percentage of no less than 99.9%...</p>
                                <p>If we fail to meet the Service Guarantee, you shall be entitled to claim a Service Credit rebate...</p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion Item 3 -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-two" href="#accordion-two-link3" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    3. Service Credit Claims:<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-two-link3" data-parent="#accordion-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>3.1 If you believe that the Service Guarantee is not met, you may file a claim with details...</p>
                                <p>3.2 Claims must include a description of the incident, logs, dates, times, and affected instance details...</p>
                                <p>3.3 Claims must be submitted within thirty (30) days of the occurrence...</p>
                            </div>
                        </div>
                    </div>
                    <!-- Add additional accordion items for other sections as needed -->
                </div>
                <!-- end accordion -->
            </div>
        </div>
    </div>
</section>
