
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}
<!--<section class="p-0 main-slider h-100 mobile-height wow fadeIn">
    <div class="swiper-full-screen swiper-container h-100 w-100 white-move">
        <div class="swiper-wrapper">-->
<!-- start slider item -->
<!--<div class="swiper-slide cover-background" style="background-image: url(../Content/images/hosting1.jpg);">
    <div class="opacity-extra-medium bg-black"></div>
    <div class="container position-relative full-screen">
        <div class="slider-typography text-center">
            <div class="slider-text-middle-main">
                <div class="slider-text-middle">
                    <h6 class="text-very-light-gray padding-ten-lr font-weight-300 margin-two-bottom md-margin-four-bottom sm-margin-15px-bottom">we combine design, thinking and technical craft</h6>
                    <div class="alt-font text-white-2 text-uppercase font-weight-700 letter-spacing-minus-3 title-extra-large margin-two-bottom width-60 mx-auto lg-width-80 md-margin-four-bottom sm-width-90 sm-margin-25px-bottom sm-letter-spacing-0">creative thinker</div>
                    <div class="btn-dual">
                        <a href="about-us-modern.html" class="btn btn-transparent-white btn-small sm-margin-two-all">Get Started</a>
                        <a href="#" target="_blank" class="btn btn-transparent-white btn-small sm-margin-two-all">Connect With Expert</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- end slider item -->
<!-- start slider item -->
<!--<div class="swiper-slide cover-background" style="background-image: url(../Content/images/hosting1.jpg);">
    <div class="opacity-extra-medium bg-black"></div>
    <div class="container position-relative full-screen">
        <div class="slider-typography text-center">
            <div class="slider-text-middle-main">
                <div class="slider-text-middle">
                    <h6 class="text-very-light-gray padding-ten-lr font-weight-300 margin-two-bottom md-margin-four-bottom sm-margin-15px-bottom">we're a design studio that believe in the ideas</h6>
                    <div class="alt-font text-white-2 text-uppercase font-weight-700 letter-spacing-minus-3 title-extra-large margin-two-bottom width-60 mx-auto lg-width-80 md-margin-four-bottom sm-width-90 sm-margin-25px-bottom sm-letter-spacing-0">empower elevate</div>
                    <div class="btn-dual">
                        <a href="about-us-modern.html" class="btn btn-transparent-white btn-small sm-margin-two-all">Get Started</a>
                        <a href="#" target="_blank" class="btn btn-transparent-white btn-small sm-margin-two-all">Connect With Expert</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- end slider item -->
<!-- start slider item -->
<!--<div class="swiper-slide cover-background" style="background-image: url(../Content/images/hosting1.jpg);">
    <div class="opacity-extra-medium bg-black"></div>
    <div class="container position-relative full-screen">
        <div class="slider-typography text-center">
            <div class="slider-text-middle-main">
                <div class="slider-text-middle">
                    <h6 class="text-very-light-gray padding-ten-lr font-weight-300 margin-two-bottom md-margin-four-bottom sm-margin-15px-bottom">we're a design studio that believe in the ideas</h6>
                    <div class="alt-font text-white-2 text-uppercase font-weight-700 letter-spacing-minus-3 title-extra-large margin-two-bottom width-60 mx-auto lg-width-80 md-margin-four-bottom sm-width-90 sm-margin-25px-bottom sm-letter-spacing-0">creative design</div>
                    <div class="btn-dual">
                        <a href="about-us-modern.html" class="btn btn-transparent-white btn-small sm-margin-two-all">Get Started</a>
                        <a href="https://themeforest.net/item/pofo-creative-agency-corporate-and-portfolio-multipurpose-template/20645944?ref=themezaa" target="_blank" class="btn btn-transparent-white btn-small sm-margin-two-all">Connect With Expert</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- end slider item -->
<!--</div>-->
<!-- start slider pagination -->
<!--<div class="swiper-pagination swiper-pagination-square swiper-pagination-white swiper-full-screen-pagination"></div>
<div class="swiper-button-next swiper-button-black-highlight d-none"></div>
<div class="swiper-button-prev swiper-button-black-highlight d-none"></div>-->
<!-- end slider pagination -->
<!--</div>
</section>-->
<section class="wow fadeIn p-0 parallax sm-background-image-center" data-stellar-background-ratio="0.5" style="background-image: url('../Content/images/hosting1.jpg')">
    <div class="opacity-extra-medium bg-black"></div>
    <div class="container-fluid position-relative full-screen">
        <div class="slider-typography">
            <div class="slider-text-middle-main">
                <div class="slider-text-bottom">
                    <div class="col-12 col-xl-6 col-lg-7 float-right bg-deep-pink-opacity padding-six-lr lg-padding-seven-lr padding-five-tb sm-padding-30px-all last-paragraph-no-margin">
                        <div class="box-separator-line width-180px bg-white lg-width-120px md-width-90px d-none d-lg-block"></div>
                        <h1 class="font-weight-600 alt-font text-white-2 width-95 md-width-100">We combine design, thinking and technical.</h1>
                        <p class="text-large font-weight-300 text-white-2 width-75 lg-width-85 md-width-95 sm-width-100 d-none d-md-block">We are a full-service digital agency. Everything you could possibly want it to do and not only that, beautifully carefully designed.</p>
                        <a href="../Vpshosting/ManagedVps" target="_blank" class="btn btn-medium btn-white margin-40px-top text-link-deep-pink sm-margin-10px-top">View Pricing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wow fadeIn mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-md-11 text-center margin-six-bottom sm-margin-30px-bottom">
                <div class="text-medium-gray text-small margin-5px-bottom alt-font text-uppercase heading-style4  vc_custom_1507613348161  heading-3" style="color: #ff214f;">FIND MORE CREATIVE IDEA FOR YOUR HOSTING</div>
                <h4 class=" text-extra-dark-gray mb-0">Hosting Services to elevate your Business</h4>
            </div>
        </div>
        <div class="row">
            <!-- feature box item-->
            <div class="col-12 col-md-4 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp">
                <div class="feature-box">
                    <div class="content">
                        <i class="icon-browser text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                        <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom">Free Consulting</div>
                        <p class="width-85 mx-auto md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- end feature box item-->
            <!-- feature box item-->
            <div class="col-12 col-md-4 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-box">
                    <div class="content">
                        <i class="icon-book-open text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                        <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom">100 % Server location in india</div>
                        <p class="width-85 mx-auto md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- end feature box item-->
            <!-- feature box item-->
            <div class="col-12 col-md-4 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.4s">
                <div class="feature-box">
                    <div class="content">
                        <i class="icon-wallet text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                        <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom">99.99 Highest up time</div>
                        <p class="width-85 mx-auto md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- end feature box item-->
            <div class="col-12 col-md-4 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp">
                <div class="feature-box">
                    <div class="content">
                        <i class="icon-browser text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                        <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom">Security Managed by  experts</div>
                        <p class="width-85 mx-auto md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- end feature box item-->
            <!-- feature box item-->
            <div class="col-12 col-md-4 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-box">
                    <div class="content">
                        <i class="icon-book-open text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                        <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom">Credit rewards</div>
                        <p class="width-85 mx-auto md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- end feature box item-->
            <!-- feature box item-->
            <div class="col-12 col-md-4 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.4s">
                <div class="feature-box">
                    <div class="content">
                        <i class="icon-wallet text-medium-gray icon-large margin-25px-bottom md-margin-15px-bottom"></i>
                        <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom">Dedicated Technical manager</div>
                        <p class="width-85 mx-auto md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- end feature box item-->
        </div>
    </div>
</section>
<section class="wow fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-7 col-lg-6 col-md-8  text-center">
                <h5 class="alt-font text-extra-dark-gray font-weight-600">About our Cloud Servers</h5>
            </div>
        </div>
    </div>
</section>
<section class="p-0 wow fadeIn bg-extra-dark-gray" id="services">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-lg-6 position-relative md-height-550px sm-height-350px cover-background wow slideInLeft" data-wow-duration="900ms" style="background-image: url('../Content/images/hosting2.jpg');"></div>
            <div class="col-12 col-lg-6 padding-seven-tb padding-eight-lr md-padding-nine-tb md-padding-twelve-lr sm-padding-30px-tb sm-padding-50px-lr text-center text-lg-left wow slideInRight last-paragraph-no-margin" data-wow-duration="900ms">
                @*<span class="text-medium margin-20px-bottom md-margin-15px-bottom d-block alt-font sm-margin-15px-bottom">We create premium designs and technology.</span>*@
                <h4 class="alt-font text-light-gray">Focuse on Security</h4>
                <p class="width-80 lg-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
                <a href="home-creative-small-business.html" class="btn btn-small btn-white btn-rounded margin-35px-top md-margin-25px-top">Start Your Business</a>
            </div>
        </div>
    </div>
</section>
<section class="wow fadeIn position-relative md-no-padding-bottom">

    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-6 padding-eleven-right lg-padding-ten-right text-center text-lg-left md-padding-15px-right md-margin-50px-bottom sm-margin-40px-bottom wow fadeIn">
                <h4 class="font-weight-600 alt-font text-extra-dark-gray">For Enterprises</h4>
                <p class="text-large alt-font font-weight-300">We are committed to customers success from start to finish. Our input helps make their solutions stand out from the crowd.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <a href="team-classic.html" class="btn btn-small btn-dark-gray">Meet The Team</a>
            </div>
            <div class="right-image">
                <img src="~/Content/images/image-right.png" />
            </div>
        </div>
    </div>
</section>

<section class="wow fadeIn p-0 main-slider mobile-height content-right-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 cover-background md-height-500px sm-height-350px wow fadeIn" style="background-image: url('../Content/images/hosting12.jpg')"></div>
            <div class="swiper-full-screen swiper-container col-12 col-lg-6 px-0 white-move bg-extra-dark-gray text-center sm-padding-20px-tb wow fadeIn">
                <div class="swiper-wrapper">
                    <!-- start slider item -->
                    <div class="swiper-slide last-paragraph-no-margin">
                        <div class="padding-eighteen-all lg-padding-eight-all md-padding-thirteen-all sm-padding-15px-lr">
                            <div class="margin-30px-bottom text-center position-relative">
                                <span class="title-large alt-font font-weight-100 text-dark-gray opacity4">01</span>
                                <p class="alt-font font-weight-600 text-deep-pink text-uppercase position-absolute left-0 right-0 top-35 md-top-25 sm-top-12">24x7x365 Dedicated Technical Manager</p>
                            </div>
                            <h4 class="alt-font text-white-2">24x7x365 Dedicated Technical Manager</h4>
                            <p class="width-90 md-width-95 sm-width-85 mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since. Lorem Ipsum is simply dummy text of the typesetting industry.</p>
                            <a href="about-us-classic.html" class="btn btn-small btn-white margin-35px-top"> About company</a>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide last-paragraph-no-margin">
                        <div class="padding-eighteen-all lg-padding-eight-all md-padding-thirteen-all sm-padding-15px-lr">
                            <div class="margin-30px-bottom text-center position-relative">
                                <span class="title-large alt-font font-weight-100 text-dark-gray opacity4">02</span>
                                <p class="alt-font font-weight-600 text-deep-pink text-uppercase position-absolute left-0 right-0 top-35 md-top-25 sm-top-12">High Availability with Credits</p>
                            </div>
                            <h4 class="alt-font text-white-2">High Availability with Credits</h4>
                            <p class="width-90 md-width-95 sm-width-85 mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since. Lorem Ipsum is simply dummy text of the typesetting industry.</p>
                            <a href="about-us-classic.html" class="btn btn-small btn-white margin-35px-top"> About company</a>
                        </div>
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide last-paragraph-no-margin">
                        <div class="padding-eighteen-all lg-padding-eight-all md-padding-thirteen-all sm-padding-15px-lr">
                            <div class="margin-30px-bottom text-center position-relative">
                                <span class="title-large alt-font font-weight-100 text-dark-gray opacity4">03</span>
                                <p class="alt-font font-weight-600 text-deep-pink text-uppercase position-absolute left-0 right-0 top-35 md-top-25 sm-top-12">Industry Specific Consulting by Experts</p>
                            </div>
                            <h4 class="alt-font text-white-2">Industry Specific Consulting by Experts</h4>
                            <p class="width-90 md-width-95 sm-width-85 mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since. Lorem Ipsum is simply dummy text of the typesetting industry.</p>
                            <a href="about-us-classic.html" class="btn btn-small btn-white margin-35px-top"> About company</a>
                        </div>
                    </div>
                    <div class="swiper-slide last-paragraph-no-margin">
                        <div class="padding-eighteen-all lg-padding-eight-all md-padding-thirteen-all sm-padding-15px-lr">
                            <div class="margin-30px-bottom text-center position-relative">
                                <span class="title-large alt-font font-weight-100 text-dark-gray opacity4">04</span>
                                <p class="alt-font font-weight-600 text-deep-pink text-uppercase position-absolute left-0 right-0 top-35 md-top-25 sm-top-12">Migration Services</p>
                            </div>
                            <h4 class="alt-font text-white-2">Migration Services</h4>
                            <p class="width-90 md-width-95 sm-width-85 mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since. Lorem Ipsum is simply dummy text of the typesetting industry.</p>
                            <a href="about-us-classic.html" class="btn btn-small btn-white margin-35px-top"> About company</a>
                        </div>
                    </div>
                    <div class="swiper-slide last-paragraph-no-margin">
                        <div class="padding-eighteen-all lg-padding-eight-all md-padding-thirteen-all sm-padding-15px-lr">
                            <div class="margin-30px-bottom text-center position-relative">
                                <span class="title-large alt-font font-weight-100 text-dark-gray opacity4">05</span>
                                <p class="alt-font font-weight-600 text-deep-pink text-uppercase position-absolute left-0 right-0 top-35 md-top-25 sm-top-12">Free Daily Backup</p>
                            </div>
                            <h4 class="alt-font text-white-2">Free Daily Backup</h4>
                            <p class="width-90 md-width-95 sm-width-85 mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since. Lorem Ipsum is simply dummy text of the typesetting industry.</p>
                            <a href="about-us-classic.html" class="btn btn-small btn-white margin-35px-top"> About company</a>
                        </div>
                    </div>
                    <!-- end slider item -->
                </div>
                <!-- start slider pagination -->
                <div class="swiper-button-next slider-long-arrow-white"></div>
                <div class="swiper-button-prev slider-long-arrow-white"></div>
                <!-- end slider pagination -->
            </div>
        </div>
    </div>
</section>
<!-- start services section -->
<section class="wow fadeIn last-paragraph-no-margin">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 col-md-8 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center last-paragraph-no-margin">
                <h5 class="alt-font text-uppercase text-extra-dark-gray font-weight-700 mb-0">Why work with us?</h5>
            </div>
        </div>
        <div class="row">
            <!-- start services team -->
            <div class="col-12 col-md-4 team-block text-left feature-box-15 sm-margin-30px-bottom wow fadeInUp">
                <figure>
                    <div class="feature-box-content sm-width-100">
                        <div class="feature-box-image"><img src="~/Content/images/hosting2.jpg" alt=""></div>
                        <div class="hover-content bg-deep-pink d-flex align-items-center">
                            <div class="padding-twelve-lr md-padding-15px-lr width-100">
                                <span class="display-block alt-font text-white-2  margin-10px-bottom md-margin-5px-bottom font-weight-800 p-5 ml-5">VPS Servers</span>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <div class="text-center margin-25px-top">
                            <div class="text-extra-dark-gray alt-font font-weight-600">VPS Servers</div>
                            <p class="width-90 mx-auto md-width-100">High-performance VPS hosting that delivers unrivaled power.</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end services team -->
            <!-- start services team -->
            <div class="col-12 col-md-4 team-block text-left feature-box-15 sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                <figure>
                    <div class="feature-box-content sm-width-100">
                        <div class="feature-box-image"><img src="~/Content/images/hosting4.jpg" alt=""></div>
                        <div class="hover-content bg-deep-pink d-flex align-items-center">
                            <div class="padding-twelve-lr md-padding-15px-lr width-100">
                                <span class="display-block alt-font text-white-2  margin-10px-bottom md-margin-5px-bottom font-weight-800 p-5 ml-5">Dedicated servers</span>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <div class="text-center margin-25px-top">
                            <div class="text-extra-dark-gray alt-font font-weight-600">Dedicated Server</div>
                            <p class="width-90 mx-auto md-width-100">Dedicated servers: High performance, zero compromise.</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end services team -->
            <!-- start services team -->
            <div class="col-12 col-md-4 team-block text-left feature-box-15 wow fadeInUp" data-wow-delay="0.6s">
                <figure>
                    <div class="feature-box-content sm-width-100">
                        <div class="feature-box-image"><img src="~/Content/images/hosting12.jpg" alt=""></div>
                        <div class="hover-content bg-deep-pink d-flex align-items-center">
                            <div class="padding-twelve-lr md-padding-15px-lr width-100">
                                <span class="display-block alt-font text-white-2  margin-10px-bottom md-margin-5px-bottom font-weight-800 p-5 ml-5">Custom Server</span>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <div class="text-center margin-25px-top">
                            <div class="text-extra-dark-gray alt-font font-weight-600">Custom Server</div>
                            <p class="width-90 mx-auto md-width-100">Consider a custom dedicated server as per your business need.</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end services team -->
        </div>
    </div>
</section>
<!-- end services section -->
@*comment according new design*@

<!--<section class="wow fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-7 col-lg-6 col-md-8 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center">
                <div class="alt-font text-medium-gray margin-10px-bottom text-uppercase text-small">Ultimate Hosting Solution for your businesses</div>
                <h6 class="alt-font text-extra-dark-gray font-weight-600 mb-0">Simplify performance and IT management with DC9 server clusters. Agile, flexible, and backed by 24/7/365 expert support.</h6>
            </div>
        </div>
        <div class="row">-->
<!-- start feature box item -->
<!--<div class="col-12 col-md-4 text-center text-md-left sm-margin-30px-bottom last-paragraph-no-margin wow fadeInUp">
    <div class="margin-ten-bottom overflow-hidden image-hover-style-1 md-margin-20px-bottom">
        <a href="services-modern.html"><img src="https://pofo.b-cdn.net/wp-content/uploads/2017/08/latest-blog8.jpg.webp" alt="" /></a>
    </div>
    <a href="services-modern.html" class="alt-font margin-5px-bottom d-block text-extra-dark-gray font-weight-600 text-uppercase text-small">Enterprise Solution</a>
    <p class="width-95 md-width-100">For projects with unique requirements, we build custom hosting environments using the technologies that are an ideal fit. From start to finish, our solutions architects work with your team to design and optimize your infrastructure until it’s perfect.</p>
    <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
    <a href="services-modern.html" class="text-uppercase alt-font text-extra-dark-gray font-weight-600 text-extra-small">View Enterprise Solution <i class="fas fa-long-arrow-alt-right margin-5px-left text-deep-pink text-medium position-relative top-2" aria-hidden="true"></i></a>
</div>-->
<!-- end feature box item -->
<!-- start feature box item -->
<!--<div class="col-12 col-md-4 text-center text-md-left last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
    <div class="margin-ten-bottom overflow-hidden image-hover-style-1 md-margin-20px-bottom">
        <a href="services-modern.html"><img src="https://pofo.b-cdn.net/wp-content/uploads/2017/08/latest-blog5.jpg.webp" alt="" /></a>
    </div>
    <a href="services-modern.html" class="alt-font margin-5px-bottom d-block text-extra-dark-gray font-weight-600 text-uppercase text-small">Ecommerce Solution</a>
    <p class="width-95 md-width-100">Running a successful ecommerce business can be a rewarding but challenging experience. Between managing your inventory, fulfilling orders, growing your presence, and more, it’s a busy job. The last thing you need is the added burden of worrying about your web hosting.Find an ecommerce host that treats you like a partner, not just another number. Our team is your team</p>
    <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
    <a href="services-modern.html" class="text-uppercase alt-font text-extra-dark-gray font-weight-600 text-extra-small">View Ecommerce Solution <i class="fas fa-long-arrow-alt-right margin-5px-left text-deep-pink text-medium position-relative top-2" aria-hidden="true"></i></a>
</div>-->
<!-- end feature box item -->
<!-- start feature box item -->
<!--<div class="col-12 col-md-4 text-center text-md-left last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.4s">
    <div class="margin-ten-bottom overflow-hidden image-hover-style-1 md-margin-20px-bottom">
        <a href="services-modern.html"><img src="https://pofo.b-cdn.net/wp-content/uploads/2017/08/latest-blog6.jpg.webp" alt="" /></a>
    </div>
    <a href="services-modern.html" class="alt-font margin-5px-bottom d-block text-extra-dark-gray font-weight-600 text-uppercase text-small">Startup Solution</a>
    <p class="width-95 md-width-100">Invest more time in focusing on your business and leave the tech to us. Our affordable small business hosting solutions are excellent for your newly established brand.</p>
    <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
    <a href="services-modern.html" class="text-uppercase alt-font text-extra-dark-gray font-weight-600 text-extra-small">View Startup Solution <i class="fas fa-long-arrow-alt-right margin-5px-left text-deep-pink text-medium position-relative top-2" aria-hidden="true"></i></a>
</div>-->
<!-- end feature box item -->
<!--</div>
    </div>
</section>-->
<!-- start pricing box section  -->
<!--<section class="wow fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-7 col-lg-6 col-md-8  text-center">
                <h5 class="alt-font text-extra-dark-gray font-weight-600">Hosting products to scale your business</h5>
            </div>
        </div>
        <div class="row">-->
<!-- start price item -->
<!--<div class="col-12 col-md-4 pricing-box-style1 text-center md-margin-30px-bottom wow fadeInUp">
    <div class="pricing-box border-all border-color-extra-light-gray">
        <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-padding-40px-all">-->
<!-- start price title -->
<!--<div class="pricing-title text-center">
    <i class="ti-user icon-large text-deep-pink d-inline-block padding-30px-all bg-white box-shadow-light rounded-circle margin-25px-bottom"></i>
</div>-->
<!-- end price title -->
<!-- start price price -->
<!--<div class="pricing-price">
    <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">VPS hosting</span>
    <h4 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$5</h4>
    <div class="text-extra-small text-uppercase alt-font margin-5px-top">Per Month</div>
</div>-->
<!-- end price price -->
<!--</div>-->
<!-- start price features -->
<!--<div class="padding-45px-all pricing-features md-padding-20px-all sm-padding-30px-all">
    <ul class="list-style-11">
        <li>1 GB Photos</li>
        <li>Secure Online Transfer</li>
        <li>Unlimited Styles</li>
        <li>Customer Service</li>
        <li>Manual Backup</li>
    </ul>-->
<!-- start price action -->
<!--<div class="pricing-action margin-35px-top md-no-margin-top">
    <a href="../Vpshosting/ManagedVps" class="btn btn-dark-gray btn-small text-extra-small">Choose Plan</a>
</div>-->
<!-- end price action -->
<!--</div>-->
<!-- end price features -->
<!--</div>
</div>-->
<!-- end price item -->
<!-- start price item -->
<!--<div class="col-12 col-md-4 pricing-box-style1 text-center md-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
    <div class="pricing-box border-all border-color-extra-light-gray">
        <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-padding-40px-all">-->
<!-- start price title -->
<!--<div class="pricing-title text-center">
    <i class="ti-briefcase icon-large text-deep-pink d-inline-block padding-30px-all bg-white box-shadow-light rounded-circle margin-25px-bottom"></i>
</div>-->
<!-- end price title -->
<!-- start price price -->
<!--<div class="pricing-price">
    <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Cloud hosting</span>
    <h4 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$350</h4>
    <div class="text-extra-small text-uppercase alt-font margin-5px-top">Per Month</div>
</div>-->
<!-- end price price -->
<!--</div>-->
<!-- start price features -->
<!--<div class="padding-45px-all pricing-features md-padding-20px-all sm-padding-30px-all">
    <ul class="list-style-11">
        <li>2 GB Photos</li>
        <li>Secure Online Transfer</li>
        <li>Unlimited Styles</li>
        <li>Customer Service</li>
        <li>Manual Backup</li>
    </ul>-->
<!-- start price action -->
<!--<div class="pricing-action margin-35px-top md-no-margin-top">
    <a href="../Vpshosting/ManagedVps" class="btn btn-dark-gray btn-small text-extra-small">Choose Plan</a>
</div>-->
<!-- end price action -->
<!--</div>-->
<!-- end price features -->
<!--</div>
</div>-->
<!-- end price item -->
<!-- start price item -->
<!--<div class="col-12 col-md-4 pricing-box-style1 text-center wow fadeInUp" data-wow-delay="0.4s">
    <div class="pricing-box border-all border-color-extra-light-gray">
        <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-padding-40px-all">-->
<!-- start price title -->
<!--<div class="pricing-title text-center">
    <i class="ti-world icon-large text-deep-pink d-inline-block padding-30px-all bg-white box-shadow-light rounded-circle margin-25px-bottom"></i>
</div>-->
<!-- end price title -->
<!-- start price price -->
<!--<div class="pricing-price">
    <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Ultimate</span>
    <h4 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$450</h4>
    <div class="text-extra-small text-uppercase alt-font margin-5px-top">Per Month</div>
</div>-->
<!-- end price price -->
<!--</div>-->
<!-- start price features -->
<!--<div class="padding-45px-all pricing-features md-padding-20px-all sm-padding-30px-all">
    <ul class="list-style-11">
        <li>Unlimited Photos</li>
        <li>Secure Online Transfer</li>
        <li>Unlimited Styles</li>
        <li>Customer Service</li>
        <li>Auto Backup</li>
    </ul>-->
<!-- start price action -->
<!--<div class="pricing-action margin-35px-top md-no-margin-top">
    <a href="../Vpshosting/ManagedVps" class="btn btn-dark-gray btn-small text-extra-small">Choose Plan</a>
</div>-->
<!-- end price action -->
<!--</div>-->
<!-- end price features -->
<!--</div>
</div>-->
<!-- end price item -->
<!--</div>
    </div>
</section>-->
<!-- end price box section -->
<!-- start feature box section -->
<!--<section class="bg-extra-dark-gray wow fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-5 col-md-6 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center">
                <div class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-small">Why Choose Us?</div>
                <h5 class="alt-font text-white-2 font-weight-600 mb-0">
                    EXPERIENCE POWERFUL WEB HOSTING
                </h5>
            </div>
        </div>
        <div class="row">-->
<!-- start features box -->
<!--<div class="col-12 col-lg-3 col-md-6 md-margin-30px-bottom wow fadeInUp">
    <div class="bg-white box-shadow-light text-center padding-twelve-all feature-box-8 position-relative z-index-5 lg-padding-six-all h-100 sm-padding-15px-lr">
        <i class="icon-desktop icon-extra-medium text-deep-pink margin-25px-bottom margin-25px-top md-margin-20px-bottom sm-margin-15px-bottom"></i>
        <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Robust security</div>
        <p>We offer comprehensive compliance solutions and services that can include system hardening, custom firewalls, and routine patching. Our certified Level 3 technicians are on hand 24/7 to safeguard your data and fortify your infrastructure against attacks.</p>
        <div class="feature-box-overlay bg-deep-pink"></div>
    </div>
</div>-->
<!-- end feature box -->
<!-- start features box -->
<!-- end feature box -->
<!-- start features box -->
<!--<div class="col-12 col-lg-3 col-md-6 wow fadeInUp sm-margin-30px-bottom" data-wow-delay="0.4s">
    <div class="bg-white box-shadow-light text-center padding-twelve-all feature-box-8 position-relative z-index-5 lg-padding-six-all h-100 sm-padding-15px-lr">
        <i class="icon-target icon-extra-medium text-deep-pink margin-25px-bottom margin-25px-top md-margin-20px-bottom sm-margin-15px-bottom"></i>
        <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Premium migrations</div>
        <p>If you have infrastructure elsewhere, we’ll migrate it for you to reduce the burden on your team. From timing to testing to deployment, Liquid Web delivers an enterprise-class experience with minimal downtime.</p>
        <div class="feature-box-overlay bg-deep-pink"></div>
    </div>
</div>-->
<!-- end feature box -->
<!-- start features box -->
<!--<div class="col-12 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
    <div class="bg-white box-shadow-light text-center padding-twelve-all feature-box-8 position-relative z-index-5 lg-padding-six-all h-100 sm-padding-15px-lr">
        <i class="icon-laptop icon-extra-medium text-deep-pink margin-25px-bottom margin-25px-top md-margin-20px-bottom sm-margin-15px-bottom"></i>
        <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Custom enterprise solutions</div>
        <p>For projects with unique requirements, we build custom hosting environments using the technologies that are an ideal fit. From start to finish, our solutions architects work with your team to design and optimize your infrastructure until it’s perfect.</p>
        <div class="feature-box-overlay bg-deep-pink"></div>
    </div>
</div>
<div class="col-12 col-lg-3 col-md-6 md-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
    <div class="bg-white box-shadow-light text-center padding-twelve-all feature-box-8 position-relative z-index-5 lg-padding-six-all h-100 sm-padding-15px-lr">
        <i class="icon-tools icon-extra-medium text-deep-pink margin-25px-bottom margin-25px-top md-margin-20px-bottom sm-margin-15px-bottom"></i>
        <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Beyond enterprise support</div>
        <p>Enterprise customers receive a 24/7 direct line to our most dedicated, capable, and experienced admins. More than 50% of our Enterprise Support Group has more than five years experience with enterprise-level clientele.</p>
        <div class="feature-box-overlay bg-deep-pink"></div>
    </div>
</div>-->
<!-- end feature box -->
<!--</div>
    </div>
</section>-->
<!-- start feature box section -->
<!-- start information section -->
<!--<section class="py-0 bg-light-gray wow fadeIn">
    <div class="container-fluid p-0">
        <div class="row m-0">-->
<!-- start information item -->
<!--<div class="col-12 col-lg-4 p-0 image-hover-style-3 h-100 last-paragraph-no-margin bg-light-gray">
    <div class="feature-box-wrap">
        <div class="w-100 d-table position-relative cover-background small-screen sm-height-300px" style="background: url(../Content/images/hosting2.jpg)"></div>
        <div class="w-100 small-screen sm-height-300px d-table arrow-top">
            <div class="d-table-cell align-middle padding-eighteen-lr lg-padding-twelve-lr text-center md-padding-ten-lr sm-padding-seven-all">
                <h6 class="text-extra-dark-gray alt-font width-95 mx-auto md-width-100 sm-margin-15px-bottom">Fully managed web hosting.</h6>
                <p class="no-letter-spacing padding-two-lr line-height-26 sm-line-height-20 sm-no-padding-lr">Server management and maintenance are available for most website hosting solutions. Let our team handle the technical details, so you can focus on your business.</p>
                <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-inline-block margin-40px-top sm-margin-20px-top"></span>
            </div>
        </div>
    </div>
</div>-->
<!-- end information item -->
<!-- start information item -->
<!--<div class="col-12 col-lg-4 p-0 image-hover-style-3 h-100 last-paragraph-no-margin bg-light-gray">
    <div class="feature-box-wrap md-swap-block">
        <div class="w-100 small-screen sm-height-300px d-table arrow-bottom">
            <div class="d-table-cell align-middle padding-eighteen-lr lg-padding-twelve-lr text-center md-padding-ten-lr sm-padding-seven-all">
                <h6 class="text-extra-dark-gray alt-font width-95 mx-auto md-width-100 sm-margin-15px-bottom">Unbeatable hosting uptime.</h6>
                <p class="no-letter-spacing padding-two-lr line-height-26 sm-line-height-20 md-no-padding-lr">100% guaranteed network uptime means your business is always online, so you never miss a customer, a sale, or an opportunity to grow.</p>
                <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-inline-block margin-40px-top sm-margin-20px-top"></span>
            </div>
        </div>
        <div class="w-100 d-table position-relative cover-background small-screen sm-height-300px" style="background: url(../Content/images/hosting3.jpg)"></div>
    </div>
</div>-->
<!-- end information item -->
<!-- start information item -->
<!--<div class="col-12 col-lg-4 p-0 image-hover-style-3 h-100 last-paragraph-no-margin bg-light-gray">
    <div class="feature-box-wrap">
        <div class="w-100 d-table position-relative cover-background small-screen sm-height-300px" style="background: url(../Content/images/hosting4.jpg)"></div>
        <div class="w-100 small-screen sm-height-300px d-table arrow-top">
            <div class="d-table-cell align-middle padding-eighteen-lr lg-padding-twelve-lr text-center md-padding-ten-lr sm-padding-seven-all">
                <h6 class="text-extra-dark-gray alt-font width-95 mx-auto md-width-100 sm-margin-15px-bottom">Performance Optimization.</h6>
                <p class="no-letter-spacing padding-two-lr line-height-26 sm-line-height-20 sm-no-padding-lr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry's standard dummy text ever since.Caching and Load Balancing mechanisms in Dc-9 Hosting ensure robust performance, hence fast speed and excellent responsiveness whenever a customer is searching for your application.</p>
                <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-inline-block margin-40px-top sm-margin-20px-top"></span>
            </div>
        </div>
    </div>
</div>-->
<!-- end information item -->
<!--</div>
    </div>
</section>-->
<!-- end information section -->
