
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url('http://placehold.it/1920x1080');" >
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 page-title-large d-flex flex-column justify-content-center align-items-center text-center padding-30px-tb">
                <!-- start sub title -->
                <span class="d-block text-white-2 opacity6 width-45 md-width-100 alt-font margin-10px-bottom">Privacy And Policy</span>
                <!-- end sub title -->
                <!-- start page title -->
                <h1 class="alt-font text-white-2 font-weight-600 mb-0">Privacy And Policy</h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start breadcrumb section -->
<section class="wow fadeIn padding-20px-tb border-bottom border-color-extra-light-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-left px-0">
                <div class="breadcrumb alt-font text-small mb-0">
                    <!-- breadcrumb -->
                    <ul>
                        <li><a href="#" class="text-medium-gray">Home</a></li>
                        <li class="text-medium-gray">Privacy</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end breadcrumb section -->
<!-- start answer section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">DC9india.com</h6>
                <p>We at DC9india.com are committed to protecting the privacy and security of our customers. This policy outlines how we collect, use, and protect personal information provided by our customers</p>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- start accordion -->
                <div class="panel-group accordion-style1" id="accordion-one">
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link1" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    1. Information We Collect:<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link1" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    We collect personal information such as name, email address, phone number, and billing information when a customer signs up for our services. We also collect information on how customers use our services, such as login times, IP addresses, and browser type.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">2.Use of Information:<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-one-link2" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>We use personal information to provide and improve our services, process billing and payments, communicate with customers, and to comply with legal requirements. We may also use customer information for marketing purposes, such as sending promotional emails </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link3" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">3.Protection of Information:<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-one-link3" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>We take reasonable measures to protect customer information from unauthorized access, use, or disclosure. We use industry-standard encryption methods and secure servers to store customer information. We also limit access to customer information to only those employees who need it to perform their job duties.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link4" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    4.Disclosure of Information:<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link4" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>We do not sell or rent customer information to third parties. We may disclose customer information to our partners or service providers who help us deliver our services, such as payment processors or email marketing providers. We may also disclose customer information in response to a legal request or to comply with applicable laws and regulations.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    5.Cookies:
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link5" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    We use cookies and similar technologies to collect information about how customers use our website and services. Cookies help us provide a better user experience and allow us to customize our services. Customers may choose to disable cookies, but some features of our services may not function properly.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link6" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    6.Third-Party Links:
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link6" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Our website and services may contain links to third-party websites. We are not responsible for the privacy practices or content of these third-party websites.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link7" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    7.Updates to Policy:
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link7" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    We reserve the right to update or modify this privacy policy at any time without prior notice. We will post the updated policy on our website, and customers are encouraged to review the policy periodically.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                </div>
                <!-- end accordion -->
            </div>
        </div>
    </div>
</section>
<!-- end answer section -->
