
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<h2>Registration</h2>
<div class="container">
    <input type="type" name="name" value="" />
    <input type="type" name="name" value="" />
    <input type="type" name="name" value="" />
    <input type="type" name="name" value="" />
</div>
