
@{
    ViewBag.Title = "ReturnAndRefund";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url('http://placehold.it/1920x1080');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 page-title-large d-flex flex-column justify-content-center align-items-center text-center padding-30px-tb">
                <!-- start sub title -->
                <span class="d-block text-white-2 opacity6 width-45 md-width-100 alt-font margin-10px-bottom"></span>
                <!-- end sub title -->
                <!-- start page title -->
                <h1 class="alt-font text-white-2 font-weight-600 mb-0">Return And Refund</h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<section class="wow fadeIn padding-20px-tb border-bottom border-color-extra-light-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-left px-0">
                <div class="breadcrumb alt-font text-small mb-0">
                    <!-- breadcrumb -->
                    <ul>
                        <li><a href="#" class="text-medium-gray">Home</a></li>
                        <li class="text-medium-gray">Return And Refund</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom"></h6>
                <p>We at Dc9india.com understand that sometimes our customers may need to request a refund for our services. This policy outlines our procedures and guidelines for requesting and receiving refunds.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- start accordion -->
                <div class="panel-group accordion-style1" id="accordion-one">
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link1" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    1.Money-back Guarantee:<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link1" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    We offer a 30-day money-back guarantee for all hosting plans. If you are not satisfied with our services for any reason within the first 15 days of your subscription, you are entitled to a full refund of your hosting fees.Dont Use Promocode To Get Refund Your Money
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">2.Refund Requests:    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
</div></a>
                        </div>
                        <div id="accordion-one-link2" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    To request a refund, you must submit a written request to our customer support team within the first 15 days of your subscription. The request should include your account details and the reason for your refund request. We will review your request and respond within 3 business days.                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link3" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
    3.Eligibility:    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
</div></a>
                        </div>
                        <div id="accordion-one-link3" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Refunds are only available for hosting fees and do not include domain name registration or any other additional services. Refunds are also not available for accounts that have violated our terms of service or acceptable use policy.                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link4" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    4.Payment Methods:<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link4" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Refunds will be issued in the same method as the original payment. If you paid by credit card, the refund will be credited back to the same credit card. If you paid by check, the refund will be issued by chec.                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    5.Cancellation:
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link5" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    If you request a refund, your hosting account will be immediately cancelled, and all files, data, and emails associated with your account will be deleted. We advise that you back up your data before requesting a refund.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link6" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    6.Disputes:
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link6" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    If you are not satisfied with the outcome of your refund request, you may submit a dispute to our billing department. We will work with you to resolve any issues and come to a mutually agreeable solution.
                                </p>
                            </div>
                        </div>
                    </div>
                  
                    <!-- end accordion item -->
                </div>
                <!-- end accordion -->
            </div>
        </div>
    </div>
</section>
