
@{
    ViewBag.Title = "TermsAndCondition";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url('http://placehold.it/1920x1080');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 page-title-large d-flex flex-column justify-content-center align-items-center text-center padding-30px-tb">
                <!-- start sub title -->
                <span class="d-block text-white-2 opacity6 width-45 md-width-100 alt-font margin-10px-bottom"></span>
                <!-- end sub title -->
                <!-- start page title -->
                <h1 class="alt-font text-white-2 font-weight-600 mb-0">Terms And Condition</h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start breadcrumb section -->
<section class="wow fadeIn padding-20px-tb border-bottom border-color-extra-light-gray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-left px-0">
                <div class="breadcrumb alt-font text-small mb-0">
                    <!-- breadcrumb -->
                    <ul>
                        <li><a href="#" class="text-medium-gray">Home</a></li>
                        <li class="text-medium-gray">Terms And Condition</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end breadcrumb section -->
<!-- start answer section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h6 class="text-uppercase alt-font text-extra-dark-gray font-weight-600 margin-four-bottom">DC9india.com</h6>
                <p>
                    These terms of service (“Terms”) govern your use of our hosting services (“Services”) provided by our company (“Host” or “we” or “us”). By using our Services, you agree to be bound by these Terms. If you do not agree with these Terms, you may not use our Services.</p>
                <h6>Date:20-11-2024:</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- start accordion -->
                <div class="panel-group accordion-style1" id="accordion-one">
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link1" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    1. Account Setup:                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link1" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    You are required to provide accurate and complete information when you sign up for our Services. You are responsible for maintaining the security of your account, including your password and login credentials.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">2.Acceptable Use:<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-one-link2" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>You may not use our Services for any illegal or malicious activities. This includes, but is not limited to, sending spam, distributing malware, hacking, and engaging in illegal activities. We reserve the right to suspend or terminate your account if we suspect any violation of this policy. </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link3" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">3.Payment and Billing:<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span></div></a>
                        </div>
                        <div id="accordion-one-link3" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    You agree to pay all fees and charges associated with your use of our Services in a timely manner. We may change our fees and payment policies at any time, and we will notify you of any changes in advance.If you fail to pay any fees or charges, we may suspend or terminate your access to our Services.
                                </p>
                                <p>
                                    All Our VPS & Dedicated Servers Billing Date Will Be 1ST Of Every Month , Its Not Matter Either Your Placer Order At End Month Or Middle Of The Month
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link4" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    4.Availability and Uptime:<span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link4" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>We strive to provide a high level of uptime and availability for our Services. However, we cannot guarantee 100% uptime, and we will not be liable for any losses or damages resulting from downtime or service interruptions.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link5" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    5.Data Backup:
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link5" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    It is your responsibility to regularly back up your data. We recommend that you perform regular backups to protect against data loss. We do not guarantee data backup services and will not be responsible for any data loss or corruption. In the event of data loss or corruption, we will use commercially reasonable efforts to restore the lost or corrupted data.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link6" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    6.Intellectual Property:
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link6" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    We own all intellectual property rights to our Services, including but not limited to trademarks, copyrights, and patents. You may not use our intellectual property without our express written consent.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link7" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    7.Indemnification:
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link7" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    You agree to indemnify and hold harmless Host, its officers, directors, employees, and affiliates from any claims, damages, or losses arising from your use of our Services or any breach of these Terms.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link8" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    8.Termination:
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link8" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    We reserve the right to terminate your account at any time after 15days of due date, with or without cause, and without prior notice. Upon termination, you agree to cease using our Services and to return any materials or information related to our Services.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link9" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    9.Disclaimer of Warranties:
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link9" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Our Services are provided on an “as is” and “as available” basis. We make no warranties, express or implied, including but not limited to warranties of merchantability, fitness for a particular purpose, and non-infringement. We do not guarantee that our Services will be error-free, secure, or uninterrupted.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link10" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    10.Limitation of Liability:
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link10" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    We will not be liable for any indirect, incidental, special, or consequential damages arising from your use of our Services, even if we have been advised of the possibility of such damages. Our total liability under these Terms will not exceed the fees paid by you for the Services. You acknowledge that the limitations and exclusions of liability in these Terms are reasonable and essential.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link11" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    11.Service Description:
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link11" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    We provide web hosting, domain registration, and related services. Our services are designed to meet the needs of individuals, small businesses, and large organizations. We reserve the right to modify or discontinue our services at any time without notice.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion-one" href="#accordion-one-link12" class="collapsed" aria-expanded="false">
                                <div class="panel-title font-weight-500 text-uppercase position-relative padding-20px-right">
                                    12.User Content
                                    <span class="position-absolute right-0 top-0"><i class="ti-plus"></i></span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-one-link12" data-parent="#accordion-one" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Our Services may allow you to submit, upload, publish, or otherwise make available content, including but not limited to, text, photographs, videos, and audio (collectively, “User Content”). You agree that you will not submit any User Content that

                                    <ul>
                                        <li>
                                            Infringes any intellectual property or other proprietary rights of any party;
                                        </li>

                                        <li>  Is defamatory, obscene, pornographic, abusive, or offensive;</li>
                                        <li> Promotes or incites violence, terrorism, illegal activities, or hate speech;</li>
                                        <li> Contains viruses, malware, or any other harmful code.</li>

                                    </ul>
                                </p>
                                <p>You are solely responsible for any User Content that you submit, upload, publish, or otherwise make available through our Services. We do not endorse any User Content, and we disclaim any liability for any User Content.</p>
                                <p>
                                    We reserve the right to remove any User Content at any time, without notice, if we believe that it violates these Terms or any applicable law or regulation.
                                </p>

                            </div>
                        </div>
                    </div>
                    <p style="padding-left:13%; font:100" class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom md-margin-5px-bottom pt-4">
                        These Terms may be updated from time to time, and we will provide notice of any material changes.
                    </p>
                    <!-- end accordion item -->
                </div>
                <!-- end accordion -->
            </div>
        </div>
    </div>
</section>
<!-- end answer section -->
