
@{
    ViewBag.Title = "UserPlans";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<section class="wow fadeIn bg-extra-dark-gray padding-35px-tb page-title-small top-space">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-md-6 text-center text-md-left">
                <!-- start page title -->
                <h1 class="alt-font text-white-2 font-weight-600 mb-0 text-uppercase">User Plans </h1>
                <!-- end page title -->
            </div>
            <div class="col-xl-4 col-md-6 breadcrumb alt-font text-small justify-content-center justify-content-md-end sm-margin-10px-top">
                <!-- start breadcrumb -->
                <ul class="text-center text-md-right">
                    <li><a href="#" class="text-dark-gray">Home</a></li>
                    <li><a href="#" class="text-dark-gray">User Plans</a></li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>
<section class="wow fadeIn">
    <div class="row">
        <div class="col-sm-8 card">
            <!-- start price item -->
            <div class="col-12 col-md-4 pricing-box-style1 text-center md-margin-30px-bottom wow fadeInUp ">
                <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">Your Plans</h5><br />
                <div class="pricing-box border-all border-color-extra-light-gray">
                    <div class="padding-55px-all bg-very-light-gray md-padding-30px-all sm-padding-40px-all">
                        <!-- start price title -->
                        @*<div class="pricing-title text-center">
                                <i class="ti-user icon-large text-deep-pink d-inline-block padding-30px-all bg-white box-shadow-light rounded-circle margin-25px-bottom"></i>
                            </div>*@
                        <!-- end price title -->
                        <!-- start price price -->
                        <div class="pricing-price">
                            <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">1 GB Ram</h5><br />
                            <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$5/mo</h5><br />
                            <ul class="list-style-11">
                                <li>1 GB Ram</li>
                                <li>1 vCPU</li>
                                <li>30 GB SSD</li>
                                <li>1 TB bandwidth</li>
                                <li>Fast provisioning</li>
                                <li>Robust API</li>
                                <li>10 GB network</li>
                                <li>Unlimited inbound</li>
                                <li>Incremental pricing</li>
                                <li>DDoS protection</li>
                                <li>Root access</li>
                            </ul>
                        </div>

                        <!-- end price price -->
                    </div>
                    <!-- start price features -->
                    <!-- end price features -->
                </div>
            </div>
            <!-- end price item -->

        </div>
        <div class="col-sm-4 card">
            <h5 class="text-extra-dark-gray alt-font font-weight-600 mb-0">Additional Plans</h5><br />
            <div class="pricing-price">
                <h6 class="text-extra-dark-gray alt-font font-weight-600 mb-0">Antivirus A</h6><br />
                <h6 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$5/mo</h6><br />
                <h6 class="text-extra-dark-gray alt-font font-weight-600 mb-0">Antivirus A</h6><br />
                <h6 class="text-extra-dark-gray alt-font font-weight-600 mb-0">$5/mo</h6><br />
            </div>
        </div>
    </div>
</section>