
@{
    ViewBag.Title = "DiscountMaster";
    Layout = "~/Views/Shared/_Admin_LayOut.cshtml";
}

<h3>Discount Master</h3>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



<div class="container row">
    <div class="col-sm-4">
        <label>Tenure</label>
        <input type="hidden" id="hdId" value="0" />
        <input type="text" id="txtDiscountName" placeholder="Please Enter Tenure" class="form-control number" />
    </div>
    <div class="col-sm-4">
        <label>Tenure Text</label>
        <input type="text" id="txtTenureText" placeholder="Please Enter Tenure Text" class="form-control" />
    </div>
    <div class="col-sm-4">
        <label>Percentage Amount</label>
        <input type="text" id="txtPercentageAmount" placeholder="Please Enter Percentage Amount" class="form-control number" />
    </div>
    <div class="col-sm-4 mt-4">
        <label>IsActive</label>
        <input type="checkbox" id="chkIsActive" checked class="form-check-input" />
    </div>
    <div class="col-sm-6 p-2">
        <button id="btnSave" class="btn btn-primary" onclick="InsertUpdate()">Save</button>
    </div>
</div>
<div class="card-body">

    <div class="table-responsive">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered" id="tblBookList">
                    <thead class="table-light">
                        <tr>
                            <th>Tenure</th>
                            <th>Percentage Amount</th>
                            <th>Is Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tblBody"></tbody>
                </table>
            </div>
        </div>
    </div>

</div>
    <script src="~/Scripts/DiscountMaster.js"></script>
<script>
    $(document).on('keypress', '.number', function (event) {
        var charCode = (event.which) ? event.which : event.keyCode;
        var inputValue = $(this).val();
        // Allow only digits, one dot, and prevent multiple dots or negative signs
        if ((charCode != 46 || inputValue.indexOf('.') != -1) && (charCode < 48 || charCode > 57)) {
            event.preventDefault();
        }
    });
</script>
